.Homepage {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .Homepage-header {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .Homepage-header h1 {
    font-size: 2.8rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .Homepage-header p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .Homepage-section {
    margin-bottom: 40px;
  }
  
  .Homepage-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .Homepage-form {
    display: flex;
    flex-wrap: wrap;
  }
  
  .Homepage-form label {
    flex-basis: 100%;
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .Homepage-form input,
  .Homepage-form select {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .Homepage-form button {
    background-color: #f1c40f;
    color: #333;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .Homepage-form button:hover {
    background-color: #e5b30e;
  }
  
  .Homepage-section p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: 10px;
  }

  .hotelChain{
    width: 100%;
  }
  
  .Homepage-section a {
    color: #f1c40f;
    text-decoration: none;
  }
  
  .Homepage-section a:hover {
    color: #e5b30e;
  }

  .Homepage-section li {

  }

  .Homepage-priceRange {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  
  .Homepage-priceRange span {
    font-size: 3.0em;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    bottom: 10px;
  }

  .Homepage-hotelCard {
    margin-bottom: 20px;
  }

  .Homepage-hotelTitle {
    background-color: #f1c40f;
    border-radius: 4px;
    padding: 10px;
    color: white;
    border: 3px solid whitesmoke;
    border-radius: 4px;
  }
  
  .Homepage-roomCard {
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .Homepage-roomTitle {
    margin-top: 0;
    font-size: 18px;
  }
  
  .Homepage-roomCard p {
    margin: 10px 0;
  }
  
  .Homepage-roomCard strong {
    font-weight: bold;
  }
  
  .Homepage-roomCard:last-child {
    margin-bottom: 0;
  }
  
  .Homepage-hotelCard img {
    position: absolute;
    transform: translate(230%, -25%);
    width: 180px;
    background-color: #f1c40f;
    padding: 20px;
    border-radius: 4px;
    border: 5px solid whitesmoke;
  }

  .Homepage-hotelCard button {
    position: absolute;
    width: 230px;
    height: 40px;
    font-weight: 600;
    font-size: 25px;
    background-color: #f1c40f;
    color: #333;
    border: 3px solid whitesmoke;
    border-radius: 4px;
    transform: translate(230%, -75%);
  }

  .Homepage-hotelCard button:hover {
    background-color: #e5b30e;
    cursor: pointer;
  }